/*** importando as fontes 'Opens sans' e 'Roboto'   **********************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/***  configurações iniciais   *******************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open sans", Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/***   pre-definindo cores   ***********************************************/
:root{
    --preto: #000000;
    --branco: #ffffff;
    --cinza-escuro: #222222;
    --cinza-medio: #333333;
    --cinza-claro: #fafafa;
    --cinza-fonte1: #a6a6a6;
    --cinza-fonte2: #9d9d9d;
    --cinza-fonte3: #54595F;
    --cinza-fonte4: #7a7a7a;
    --verde-fonte: #80c34a;
    --btn-verde: #61ce70;
    --btn-laranja: #f39433;
    --barra-laranja: #ff8f00;
    --bg-cinza: #f5f5f5;
    --bg-azul-topo: #0d8cc1;
    --bg-azul-meio: #076c87;
}

/***   estrutura padrão   ***************************************************/
.container{
    width: 1140px;
    margin: 0 auto;
}

/*** header fixo   **********************************************************/
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

/***   topo   ***************************************************************/
#topo{
    height: 40px;
    background: var(--bg-azul-topo);
    display: flex;
    transition:
    height 0.3s ease,
    padding 0.3s ease,
    opacity 0.3s ease;
    overflow: hidden;

}

#topo.escondido {
    height: 0;
    padding: 0;
    opacity: 0;
}

.nav-topo{
    display: flex;
    margin-right: 20px;
}

.nav-topo a{
    color: var(--branco);
    font-size: 0.850rem;
    font-weight: 400;
    font-style: normal;
    padding: 0 12px;
}

.estrutura-topo{
    display: flex;
}

#topo .container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

/***   menu de navegação   **************************************************/
#navegacao{
    height: 80px;
    background: var(--branco);
}

#navegacao.sombra {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease;
}

.logotipo img{
    width: 105px;
    margin-left: 20px;
}

.nav-principal{
  display: flex;
  margin-right: 20px;
}

.nav-principal li{
    padding-left: 20px;
}

.nav-principal a{
    font-size: 1rem;
    color: var(--cinza-fonte1);
}

#navegacao .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* Oculta todos os submenus inicialmente */
.sub-produtos,
.prod-xereta,
.prod-vittal {
    display: none;  
    position: absolute; 
    background-color: var(--branco);    
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1000;
    min-width: 200px;
}

.sub-produtos a,
.prod-xereta a,
.prod-vittal a{
    border-bottom: 1px solid var(--bg-azul-topo);
    border-bottom-width: 1px;
}

/* Necessário para posicionar submenus relativos ao item pai */
.nav-principal li {
    position: relative;
}

/* Exibe o submenu de Produtos ao passar o mouse */
.nav-principal li.produtos:hover > .sub-produtos {
    display: block;
    top: 100%; /* Exibe abaixo do item pai */
    left: 0;
}

/* Exibe o submenu de Xereta ao lado ao passar o mouse */
.sub-produtos li:hover > .prod-xereta {
    display: block;
    top: 0;
    left: 100%; /* Ao lado do submenu pai */
}

/* Exibe o submenu de Vittal ao lado ao passar o mouse */
.sub-produtos li:hover > .prod-vittal {
    display: block;
    top: 0;
    left: 100%;
}

/* Estilo básico para os links dos submenus */
.sub-produtos li a,
.prod-xereta li a,
.prod-vittal li a {
    display: block;
    padding: 10px 15px;
    color: var(--cinza-fonte2);
    text-decoration: none;
    white-space: nowrap;
}

/* Efeito ao passar o mouse nos submenus */
.sub-produtos li a:hover,
.prod-xereta li a:hover,
.prod-vittal li a:hover {
    color: var(--bg-azul-topo);
    background: var(--cinza-claro);
}

/***   slider   **************************************************/
#slider{
    margin-top: 120px;
}

#slider {
    position: relative;
    width: 100%;
    height: 794px;
    overflow: hidden;
    z-index: 1;
}

.slide {
    position: absolute;
    width: 100%;
    height: 794px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    overflow: hidden;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.slide img {
    position: absolute;
    /*top: -130px;*/
    width: 100%;
    height: auto;
    left: 0;
    object-fit: cover;
}

.nav {
  position: absolute;
  top: 56.4%;
  transform: translateY(-60%);
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 2.4rem;
  font-weight: 100;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 2;
  transition: color 0.3s ease;
}

.nav.prev {
  left: 10px;
}

.nav.next {
  right: 10px;
}

.nav:hover {
  color: #d3d2d2;  /* usando um cinza bem clarinho para dar um charme no botão nav */
}

/***   Refrix   **************************************************/
#refrix .bg-refrix{
    background: var(--bg-cinza);
    height: 574px;
}

.bg-refrix .container{
    display: flex;
}

.foto-refrix{
    width: 570px;
    height: 382px;
    overflow: hidden;
    margin-top: 96px;
}

.foto-refrix img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto-refrix img,
.sobre-refrix{
    max-width: 570px;
}

.sobre-refrix-txt{
    margin-left: 34px;
    margin-top: 96px;
}

.sobre-refrix-txt h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2.313rem;
    font-weight: 800;
    color: var(--bg-azul-topo);
    padding-top: 11px;
    letter-spacing: -2px;
}

.sobre-refrix-txt h2::after{
    content: "";
    display: block;
    width: 50px;
    border-bottom: 3px solid var(--barra-laranja);
    margin-top: 12px;
}

.sobre-refrix-txt p{
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 28px;
    color: #9d9d9d;
}

.sobre-refrix-txt a{
    margin-top: 72px;
    padding: 16px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 40px;
    font-family: Sans-serif;
    font-size: 0.938rem;
    font-weight: 530;
    background-color: var(--btn-verde);
    color: var(--branco);
    display: inline-block;
}

/***   Produtos   **************************************************/
#produtos{
    background-color: var(--branco);
}

.titulo-secao{
    height: 100px;
    margin-top: 80px;
}

.titulo-secao h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2.313rem;
    font-weight: 800;
    color: var(--bg-azul-topo);
    padding-top: 11px;
    letter-spacing: -2px;
}

.titulo-secao h2::after{
    content: "";
    display: block;
    width: 50px;
    border-bottom: 3px solid var(--barra-laranja);
    margin-top: 12px;
}

.prods-xereta{
    height: 377px;
}

.prods-xereta a{
    display: inline-flex;
    align-items: center;
    padding: 10px;
}

.prods-xereta button:hover{
    background-color: var(--btn-verde);
    transform: scale(0.98);
}

.prods-xereta button:hover p {
    background-color: var(--btn-verde); /* ou qualquer cor que deseje no hover */
}

.prods-xereta button{
    position: relative;
    width: 356px;
    border: 0;
    border-radius: 3px;
    overflow: hidden;
    padding: 3px;
    background-color: var(--bg-azul-topo);
    padding-top: 4px;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.2s;
}

.prods-xereta button img{
    height: auto;
    display: block;
    max-width: 100%;
    border-radius: 3px;
}

button p{
    display: block;
    margin: 0;
    background-color: var(--bg-azul-topo);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 18px;
    border-radius: 30px 0px 0px 0px;
    color: var(--branco);
    text-align: right;
    padding-left: 32px;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.6px;
    padding-top: 14px;
    padding-bottom: 14px;
    transition: background-color 0.4s;
}

.prod-btn-todos{
    text-align: center;
    margin-bottom: 90px;
    margin-top: 30px;
}

.prod-btn-todos a{
    padding: 16px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 40px;
    font-family: Sans-serif;
    font-size: 0.938rem;
    font-weight: 530;
    background-color: var(--btn-verde);
    color: var(--branco);
    display: inline-block;
}

/***   Terceirização   **************************************************/
#terceirizacao .bg-terceirizacao{
    background-color: var(--bg-azul-meio);
    height: 722px;
}

.bg-terceirizacao .container{
    display: flex;
}   

.tercerizacao-txt{
    width: 50%;
    margin-top: 90px;
}

.tercerizacao-txt h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2.313rem;
    font-weight: 800;
    color: var(--branco);
    letter-spacing: -2px;
}

.tercerizacao-txt h2::after{
    content: "";
    display: block;
    width: 50px;
    border-bottom: 3px solid var(--barra-laranja);
    margin-top: 12px;
}

.tercerizacao-txt .paragrafos{
    margin-top: 50px;
}

.tercerizacao-txt p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
    color: #FFFFFFB3;
}

.tercerizacao-txt a{
    margin-top: 35px;
    padding: 16px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 40px;
    font-family: Sans-serif;
    font-size: 0.938rem;
    font-weight: 530;
    background-color: var(--btn-verde);
    color: var(--branco);
    display: inline-block;
}

.terceirizacao-img{
    display: flex;
    justify-content: center;
    width: 570px;
    margin: 150px 0px 60px 0px;
}

.terceirizacao-img img{
    width: 456px;
}

/***   mapa e contato   **************************************************/
#contato{
    max-height: 750px;
}
.mapa-contato{
    display: flex;
}

.container-fale-conosco{
    width: 670px;
}

.fale-conosco{
    width: 590px;
    height: 640px;
    margin: 0140px 0px 0px 80px;
}

.fale-conosco h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2.313rem;
    font-weight: 800;
    color: var(--bg-azul-topo);
    letter-spacing: -2px;
}

.fale-conosco h2::after{
    content: "";
    display: block;
    width: 50px;
    border-bottom: 3px solid var(--barra-laranja);
    margin-top: 12px;
    margin-bottom: 50px;
}

.fale-conosco .parag-txt{
    font-family: 'Roboto', sans-serif;
    color: var(--cinza-fonte3);
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1rem;
}

.fale-conosco .parag-contato{
    font-family: 'Roboto', sans-serif;
    color: var(--cinza-fonte4);
    font-weight: 400;
    line-height: 1rem;
    margin-bottom: 40px;
}

input[type="submit"]{
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #f39433;
    border: none;
    border-radius: 4px;
    color: var(--branco);
    cursor: pointer;
    width: 555px;
}

input[type="submit"]:hover{
    background-color: #d87d26;
}

.frm-fale-conosco input[type="submit"]{
    margin-right: 11px;
}

.frm-fale-conosco{
    width: 590px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-left: 10px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
input[type="number"]::placeholder,
#estado::placeholder,
#dpto-area::placeholder,
#dpto-area-assunto::placeholder,
textarea::placeholder{
    color: var(--cinza-fonte2);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"]{
    padding: 5px 0px 5px 16px;
    width: 179px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 15px;
    color: var(--cinza-fonte4);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
#estado:focus,
#dpto-area:focus,
#dpto-area-assunto:focus,
textarea:focus{
    border: 1px solid #f3f2f2;
    outline: none;
    color: var(--cinza-fonte4);
}

#estado{
    width: 179px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: var(--cinza-fonte4);
    box-sizing: border-box;
    margin-bottom: 15px;
}

#estado option{
    font-size: 14px;
    color: var(--cinza-fonte4);
}

#dpto-area,
#dpto-area-assunto{
    width: 276px;
    border: 1px solid #ccc;
    padding: 5px 0px;
    border-radius: 4px;
    font-size: 14px;
    color: var(--cinza-fonte1);
    box-sizing: border-box;
    margin-bottom: 15px;
}

textarea{
    width: 574px;
    border: 1px solid #ccc;
    padding: 5px 0px;
    border-radius: 4px;
    font-size: 14px;
    color: var(--cinza-fonte4);
    box-sizing: border-box;
    margin-bottom: 15px;
}

.span-txt{
    font-family: 'Roboto', sans-serif;
    color: var(--cinza-fonte4);
    margin-right: 25px;
}

/***   mapa e contato   **************************************************/
#pre-footer{
    height: 406px;
    padding: 60px 0px;
    background-color: var(--cinza-medio);
}

#pre-footer .container{
    display: flex;
    height: 286px;
    justify-content: space-between;
}

.logo-footer{
    margin-top: 60px;
    width: 346px;
}
.logo-footer img{
    margin-bottom: 10px;
    margin-left: 20px;
}

.logo-footer span{
    color: var(--cinza-fonte2);
    font-weight: 400;
    margin-left: 20px;
}

.acesso-rapido{
    width: 346px;
}

.acesso-rapido h4,
.form-novidades h4{
    color: #8bc34a;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 13px;
}

.acesso-rapido a{
    color: var(--cinza-fonte2);
    font-weight: 400;
    line-height: 1.5rem;
}

.acesso-rapido a:hover{
    color: #ffffff;
}

.form-novidades{
    width: 346px;
}

.acesso-rapido h4::after,
.form-novidades h4::after{
    content: "";
    display: block;
    width: 30px;
    border-bottom: 3px solid var(--barra-laranja);
    margin-top: 3px;
    margin-bottom: 20px;
}

.form-novidades input[type="text"]::placeholder,
.form-novidades input[type="email"]::placeholder{
    color: var(--cinza-fonte1);
}

.form-novidades input[type="text"],
.form-novidades input[type="email"]{
    width: 346px;
    border-radius: 2px;
    border: 1px solid var(--cinza-fonte1);
    padding: 12px 15px;
    margin-bottom: 22px;
    color: var(--cinza-fonte1);
    background-color: var(--cinza-medio);
}

.form-novidades input[type="text"]:focus,
.form-novidades input[type="email"]:focus{
    border-color: var(--btn-laranja);
    color: var(--cinza-fonte4);
}

.btn-submit{
    text-transform: uppercase;
    background-color: var(--btn-laranja);
    color: rgba(255, 255, 255, 0.7);
    border: none;
    line-height: 1.3rem;
    font-size: 14px;
    font-weight: 600;
    padding: 9px 18px 9px 18px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-submit:hover{
    background-color: #db812c;
}

/***   footer   ************************************************************/
footer{
    background: var(--cinza-escuro);
    color: var(--cinza-fonte4);
    font-family: 'Open sans',sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: -0.5px;
}
